<h1>Edit Review</h1>
<%= form_for @review do |f| %>
  <%= f.label :name, "Restaurant Name" %>
  <%= f.text_field :name %>

  <%= f.label :chef %>
  <%= f.text_field :chef %>

  <%= f.label :rating %>
  <%= f.text_area :rating %>

  <%= f.label :type_of_food %>
  <%= f.text_area :type_of_food %>

  <%= f.submit %>
<% end %>
